
@using RecoWeb01.Models
@model LoginViewModel
@{
    ViewBag.Title = "로그인";
}
<div class="login-body vcenter">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>로그인</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="form-group float-left col-md-8 col-sm-8">
                <div class="form-group">
                    @*<input type="text" class="form-control" placeholder="사번" required/>*@
                    @Html.TextBoxFor(m => m.EmployeeNumber, new { @class = "form-control", @placeholder = "사번" })
                    @Html.ValidationMessageFor(m => m.EmployeeNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @*<input type="password" class="form-control" placeholder="암호" required/>*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "암호" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-L">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="form-group float-left col-md-4  col-sm-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-login">로그인</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-join">등록</button>
                    @Html.
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/customScript")
    @Scripts.Render("~/bundles/jqueryval")
</div>