@using RecoWeb01.Models
@model LoginViewModel
@{
    ViewBag.Title = "로그인";
}
<div class="login-body row">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>로그인</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group login-area">
            <div class="form-group login-input-area">
                <div class="form-group">
                    @*<input type="text" class="form-control" placeholder="사번" required/>*@
                    @Html.TextBoxFor(m => m.EmployeeNumber, new { @class = "form-control", @placeholder = "사번" })
                    @Html.ValidationMessageFor(m => m.EmployeeNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @*<input type="password" class="form-control" placeholder="암호" required/>*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "암호" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group text-L">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="form-group login-btn-area">
                <div class="form-group col-8">
                    <button type="submit" class="btn btn-primary btn-lg btn-block btn-login">로그인</button>
                </div>
                <div class="form-group col-4">
                    <button type="button" class="btn btn-default btn-lg btn-block btn-join">등록</button>
                </div>
            </div>
        </div>
    }


    @Scripts.Render("~/bundles/customScript")
    @Scripts.Render("~/bundles/jqueryval")
</div>